# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [39]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
new_york = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

**Recommended cleaning steps:**
1. Handle missing values in the `Type` column (fill with "Conventional" if needed)
2. Drop irrelevant columns such as `Grade` (only applies to canned pumpkins)
3. Drop columns with high percentages of missing data that aren't needed for analysis
4. Check for and address any other data quality issues you notice

In [40]:
# Clean your data here!
for col in baltimore.columns:
    pct_missing = np.mean(baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [41]:
for col in boston.columns:
    pct_missing = np.mean(boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [42]:
for col in new_york.columns:
    pct_missing = np.mean(new_york[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [43]:
for col in philadelphia.columns:
    pct_missing = np.mean(philadelphia[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [44]:
baltimore["Type"] = baltimore["Type"].fillna("Conventional")
boston["Type"] = boston["Type"].fillna("Conventional")
new_york["Type"] = new_york["Type"].fillna("Conventional")
philadelphia["Type"] = philadelphia["Type"].fillna("Conventional")

No more missing values in the type columns.

In [50]:
# Dropping unneeded / high-null columns

baltimore_cleaned = baltimore.drop(["Commodity Name", "Grade", "Sub Variety", "Mostly Low", "Mostly High", "Origin District", "Color", "Environment",
                  "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Unit of Sale", "Trans Mode"], axis= 1)
boston_cleaned = boston.drop(["Commodity Name", "Grade", "Sub Variety", "Mostly Low", "Mostly High", "Origin District", "Color", "Environment",
                  "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Unit of Sale", "Trans Mode"], axis= 1)
new_york_cleaned = new_york.drop(["Commodity Name", "Grade", "Sub Variety", "Mostly Low", "Mostly High", "Origin District", "Color", "Environment",
                  "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Unit of Sale", "Trans Mode"], axis= 1)
philadelphia_cleaned = philadelphia.drop(["Commodity Name", "Grade", "Sub Variety", "Mostly Low", "Mostly High", "Origin District", "Color", "Environment",
                  "Quality", "Condition", "Appearance", "Storage", "Crop", "Repack", "Unit of Sale", "Trans Mode"], axis= 1)

In [51]:
# Converting "High Price" from float to int

baltimore_cleaned["High Price"] = baltimore_cleaned["High Price"].astype(int)
boston_cleaned["High Price"] = boston_cleaned["High Price"].astype(int)
new_york_cleaned["High Price"] = new_york_cleaned["High Price"].astype(int)
philadelphia_cleaned["High Price"] = philadelphia_cleaned["High Price"].astype(int)

print(baltimore_cleaned.head())

   City Name          Type       Package      Variety        Date  Low Price  \
0  BALTIMORE  Conventional  24 inch bins          NaN  04/29/2017        270
1  BALTIMORE  Conventional  24 inch bins          NaN  05/06/2017        270
2  BALTIMORE  Conventional  24 inch bins  HOWDEN TYPE  09/24/2016        160
3  BALTIMORE  Conventional  24 inch bins  HOWDEN TYPE  09/24/2016        160
4  BALTIMORE  Conventional  24 inch bins  HOWDEN TYPE  11/05/2016         90

   High Price    Origin Item Size
0         280       NaN       lge
1         280       NaN       lge
2         160  DELAWARE       med
3         160  VIRGINIA       med
4         100  MARYLAND       lge

array([nan, 'DELAWARE', 'VIRGINIA', 'MARYLAND', 'PENNSYLVANIA', 'MEXICO',
       'COSTA RICA', 'FLORIDA', 'OHIO'], dtype=object)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [52]:
# Combine the four dataframes into one!
northeast = (baltimore_cleaned.merge(boston_cleaned, how= 'outer').merge(new_york_cleaned, how='outer').merge(philadelphia_cleaned, how='outer'))
northeast.head()

,City Name,Type,Package,Variety,Date,Low Price,High Price,Origin,Item Size
0,BALTIMORE,Conventional,1 1/9 bushel cartons,PIE TYPE,09/16/2017,18,18,MARYLAND,med
1,BALTIMORE,Conventional,1 1/9 bushel cartons,PIE TYPE,09/23/2017,16,16,DELAWARE,med
2,BALTIMORE,Conventional,1 1/9 bushel cartons,PIE TYPE,09/23/2017,16,16,PENNSYLVANIA,med
3,BALTIMORE,Conventional,1 1/9 bushel cartons,PIE TYPE,09/23/2017,18,18,MARYLAND,med
4,BALTIMORE,Conventional,1 1/9 bushel cartons,PIE TYPE,09/24/2016,15,15,DELAWARE,med

In [ ]:
#examining null %
for col in northeast.columns:
    pct_missing = np.mean(northeast[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

City Name - 0%
Type - 0%
Package - 0%
Variety - 0%
Date - 0%
Low Price - 0%
High Price - 0%
Origin - 1%
Item Size - 7%

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region?
2. For the Northeast region, what is the total count of transactions (rows) for each pumpkin variety that came into terminal markets for the year?

In [63]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

# In all 4 of these CSVs the "Unit of Sale" column is not useable (~80% null values) data.  However, the "Package" column contains
# the requested information, so I will use this.

mean_low_high_price_per_uos = northeast.groupby("Package")[["Low Price", "High Price"]].mean()
print(mean_low_high_price_per_uos)

                       Low Price  High Price
Package
1 1/9 bushel cartons   15.875000   16.708333
1 1/9 bushel crates    16.058824   16.705882
1/2 bushel cartons     16.030928   17.597938
24 inch bins          188.005618  202.808989
36 inch bins          170.458861  196.550633
50 lb sacks            25.111111   25.333333
bushel cartons         20.571429   22.857143
each                   75.000000   80.000000

In [66]:
# Put your code here to find the total count of transactions for each variety in the Northeast region.
transact_count_variety = northeast.groupby("Variety").size()
print(transact_count_variety)

Variety
BIG MACK TYPE                55
BLUE TYPE                     7
CINDERELLA                   39
FAIRYTALE                    37
HOWDEN TYPE                 224
HOWDEN WHITE TYPE             2
KNUCKLE HEAD                  9
MINIATURE                    97
MIXED HEIRLOOM VARIETIES      4
PIE TYPE                    198
dtype: int64

## Bonus Mission

Try answering the same questions for a different region! Choose either:
- **Midwest**: Chicago, Detroit, and St. Louis
- **Southeast**: Atlanta, Columbia, and Miami

Load, clean, and combine the data for your chosen region, then calculate:
1. The mean low and high prices for each type of unit of sale
2. The total count of transactions for each pumpkin variety

In [59]:
# Try the bonus mission if you have time!